/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("http://www.veltron.net/images/cursor.png"), auto;
}

body {
  font-family: "Roboto", arial, serif;
  background: url("http://www.veltron.net/images/wallpaper.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
}

main {
  background: rgba(17, 17, 17, 0.8); /* Semi-transparent background */
  padding: 2em;
  border-radius: 20px;
  border: dashed 1px #555;
  text-align: center;
  color: #ddd;
}

h1 {
  font-size: 3rem;
  color: lightblue;
  text-shadow: 1px 1px #333;
}

h2 {
  color: goldenrod;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right !important;
}

img {
  border-radius: 5px;
  margin-right: 1rem;
}

audio {
  margin-top: 1rem;
}

footer {
  margin-top: 2rem;
  color: #ccc;
  font-size: small;
}

footer a {
  color: turquoise;
  text-decoration: none;
}

footer a:hover {
  color: greenyellow;
}
